# ==========================
# Python
# ==========================
venv/
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment Variables
# ==========================
.env
backend/.env

# ==========================
# Database
# ==========================
*.db

# ==========================
# Uploads
# ==========================
uploads/
backend/uploads/

# ==========================
# ChromaDB
# ==========================
chroma_db/
backend/chroma_db/

# ==========================
# Frontend
# ==========================
node_modules/
dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db